node_modules/
__pycache__/
*.pyc

.DS_Store
.vscode/
.idea/

venv/
.cache/
.ipynb_checkpoints/

build/
dist/
coverage/
tmp/

*.egg-info/
*.tmp

.nyc_output
package-lock.json

.bundle/
vendor/
_site/
.jekyll-cache
.sass-cache/
**/.DS_Store